<h1>Welcome</h1>
<% if user_signed_in? %>
<%= link_to  current_user.email, edit_user_registration_path%>
<%= link_to "LogOut", destroy_user_session_path, method: :delete%>
<% else %>
<%= link_to "Login", new_user_session_path%>
<%= link_to "sign up Login",  new_user_registration_path%>
<% end %>
<h1><%= image_tag(current_user.avatar.url(:medium)) %></h1>
